@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Winky Sans", sans-serif;
    color: white;
}

body::-webkit-scrollbar {
    width: 6px;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 7px;
}

html{
    scroll-behavior: smooth;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 61);
}

header{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid white;
}

nav{
    width: 100%;
    height: 100%;
    background-color: rgb(40, 40, 61);
}

section{
    display: flex;
    height: 100vh;
}

.start-forms{
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.begin-screen{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start-logo{
    width: 50%;
    height: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

.mini-logo{
    width: 70%;
    height: 25%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo-mini{
    max-width: 50%;
    max-height: 100%;
    height: 100%;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

input{
    color: black;
    padding: 10px;
    width: 80%;
    font-size: 14px;
}

input:focus{
    outline: none;
}

button{
    padding: 10px;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s;
}

button:hover{
    background-color: rgb(57, 57, 194);
    transform: translateY(-5px);
    color: white;
}

.auth-btn{
    width: 40%;
}

.google-auth-btn{
    margin-top: 50px;
    width: 70%;
}

.start-title{
    color: black;
    font-size: 28px;
    margin-bottom: 10px;
}

.home-page{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.feed{
    width: 40%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-feed{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.suggestions{
    margin-top: 60px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.sidebar{
    margin-top: 60px;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.latest, .most-followed{
    height: 40%;
    width: 100%;
    border: 1px solid white;
}

.users{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

h2{
    padding: 3px;
    text-decoration: underline;
}

.user-card{
    width: 100%;
    height: 29.3%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.user-info{
    height: 100%;
    max-height: 100%;
    width: 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
}

.profile-img{
    height: inherit;
    max-height: inherit;
    border-radius: 50%;
}

.follow-btn{
    color: white;
    border: 2px solid white;
}

.active{
    text-decoration: underline;
}

span{
    font-size: 20px;
}

.side-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
}

.side-item{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.side-item:hover{
    background-color: rgb(75, 75, 114);
}

.side-text{
    font-size: 22px;
}

.feed-post{
    width: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid white;
}

.post-info, .post-actions{
    display: flex;
    gap: 40px;
}

.feed-user{
    color: lightgray;
}

.feed-content{
    font-weight: 400;
}

.feed-icons{
    cursor: pointer;
}